:root {
  
  
	--bg-main: #F5FBFF;
	--bg-footer: #333333;
	--bg-footer-bottom: #000000;
	--fontcolor1: #fff;
	--fontcolor2: #000;
	--fontcolor-menu: #767676;
	--fontcolor-menu-hvr: #333333;
	--hero: #009DFF;
	--months: rgba(226, 230, 216, 0.75)
  }

.szezon-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}


  
.szezon, .pollen {
	display: block;
}

.szezon p, .pollen p {
	margin-block: 10px;
}

.elorejelzes {
	display: none;
	flex-direction: column;
	width: 100%;
	height: auto;
	background: url(assets/img/pollen-fly.webp) no-repeat center/cover;
	border: 4px solid black;
	border-radius: 10px;
	margin-block: 50px;
}

.elorejelzes h3 {
	display: flex;
	justify-content: center;
	margin-block: 50px;
	font-size: 40px;
	padding: 8px;
	background-color: var(--months);
	border: 2px solid rgba(0, 0, 0, 1);
	margin-inline: auto;
	border-radius: 10px;
}


.months-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	height: auto;
	
}

.active {
    display: flex;
  }

.months {
	background-color: var(--months);
	margin: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 2px solid rgba(0, 0, 0, 1);
	border-radius: 10px;


}

.months strong {
	margin-top: 15px;
	margin-inline: auto;
	padding-inline: 10px;
	font-size: 25px;
}

.months li {
	margin-block: 15px;
	position: relative;
	left: 20px;
	margin-inline: 30px;
	
}



@media (max-width: 576px) {
	.months-container {
		width: 70%;
		margin-inline: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		height: auto;	
	}

	.elorejelzes h3 {
		margin-inline: 10px;
	}
}