*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  
  
  --bg-main: #F5FBFF;
  --bg-footer: #333333;
  --bg-footer-bottom: #000000;
  --fontcolor1: #fff;
  --fontcolor2: #000;
  --fontcolor-menu: #767676;
  --fontcolor-menu-hvr: #333333;
  --hero: #009DFF;
}

main {
  margin-bottom: 20px;
  height: 77vh;
}

h2 {
  margin-block: 25px;
}

.jelentes p {
    margin-block: 20px;
    font-size: 1.3rem;
}

ul {
  width: 80%;
	margin-left: 35px;
}

li {
    margin-block: 10px;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--hero);
}

a:hover {
  color: var(--fontcolor-menu);
}


@media (max-width: 576px) {
  main {
    margin-bottom: 10px;
    height: 100%;
  }
}
