/* CSS RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  
  
  --bg-main: #F5FBFF;
  --bg-footer: #333333;
  --bg-footer-bottom: #000000;
  --fontcolor1: #fff;
  --fontcolor2: #000;
  --fontcolor-menu: #767676;
  --fontcolor-menu-hvr: #333333;
  --hero: #009DFF;
  --months: rgba(226, 230, 216, 0.75);
}

svg {
  fill: var(--bg-footer);
  width: 20px;
  height: 20px;
}

/* HEADER */

body {
  
  background-color: var(--bg-main);
  font-family: 'Nunito Sans', sans-serif;

}

header {
  background-color: var(--bg-main);
  position: sticky;
  top: -50px;
  padding-bottom: 10px;
  z-index: 99999;
}

.normal-width {
  width: min(90%, 1400px);
  margin-inline: auto;
}


.information {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.information a {
  justify-content: center;
  text-decoration: none;
  padding: 3px;
  color: var(--fontcolor-menu);
}

.information span {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  gap: 20px;
}

.mail, 
.tel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 20%;
}

.menu-container {
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 92px;
  align-items: center;
  flex-wrap: nowrap;
}


.logo {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  font-family: 'Rubik', sans-serif;

}

.icon {
  width:100px;
  display: grid;
  place-content: center;
  padding-top: 5px;
}

.logo svg {
  scale: 4.5;
  border: solid 0.3px black;
  border-radius: 25%;
  padding: 1px;
  background-color: var(--hero);
}

.logo h3 {
  font-size: 1.5rem;
}

.logo p {
  font-size: 0.8rem;
  padding-top: 5px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}

.menu-bar {
  display: flex;
  justify-content: center;
  width: 55%;
  gap: 15px;
}

.menu-bar a {
  margin-inline: 2px;
  padding-block: 10px;
  padding-inline: 3px;
  text-decoration: none;
  color: var(--fontcolor-menu);
  font-size: 1rem;
  font-weight: bold;
  box-sizing: content-box;
}

.menu-bar a:hover {
  margin-inline: 0px;
  padding-inline: 3px;
  color: var(--fontcolor-menu-hvr);
  border-inline: 2px solid var(--fontcolor-menu);
  transition: color 1s ease;
}

.riport {
  display: flex;
  justify-content: flex-end;
  width: 15%;
}


.riport a {
  display: grid;
  place-content: center;
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--hero);
  text-decoration: none;
  color: var(--fontcolor2);
  font-size: 1rem;
  font-weight: bold;
}

.riport a:hover {
  background-color: var(--fontcolor-menu);
  color: var(--fontcolor1);
  font-size: 1.1rem;
}

/* MOBIL MENU */

.hamburger {
  display: none;
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--hero);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 40px;
  cursor: pointer;
}

.line-1,
.line-2,
.line-3 {
  width: 40px;
  height: 3px;
  border-radius: 50px;
  background-color: var(--fontcolor2);
  transition: all 0.3s ease;
}

.line-1-active {
  transform: rotate(-45deg) translateY(7px);
}
.line-2-active {
  display: none;
}
.line-3-active {
  transform: rotate(45deg) translateY(-7px);
}



.menu-container-active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 850px;
  background-color: var(--hero);
  position: fixed;
  top: 0;
  
}

.logo-active {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  font-family: 'Rubik', sans-serif;
  padding-top: 30px;

}


.menu-bar-active{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  gap: 5px;
  margin-block: 80px 30px;

}

.menu-bar-active a {
  margin-inline: 2px;
  padding-block: 10px;
  padding-inline: 3px;
  text-decoration: none;
  color: var(--fontcolor2);
  font-size: 1.5rem;
  font-weight: bold;
}

.riport-active {
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  margin-block: 10px 30px;
}

.riport-active a {
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--fontcolor-menu-hvr);
  text-decoration: none;
  color: var(--fontcolor1);
  font-size: 2rem;

}



/* MAIN */


.hero-width {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.hero-container {
  width: 100%;
  height: 500px;
  background: url(assets/img/banner.jpg) no-repeat right/cover;
  display: flex; 
}

.hero-box {
  width: 40%;
  min-width: 250px;
  height: auto;
  background-color: #e0e8c298;
  border-radius: 20px;
  margin-inline: 30px;
  margin-top: 60px;

}


.hero-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;

}

.hero-content h2 {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}


/* FOOTER*/

footer {
  background-color: var(--bg-footer);
  color: var(--font-header);
}


.footer-container {
  height: 250px;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom {
  width: 100%;
  margin-inline: auto;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-footer-bottom);
  color: var(--fontcolor1)
}


.left-item .logo {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  font-family: 'Rubik', sans-serif;
 
}

.left-item .icon {
  width:100px;
  display: grid;
  place-content: center;
}

.inactive-grid {
  display: none;
}

.left-item .logo svg {
  scale: 4.5;
  border: solid 0.3px black;
  border-radius: 25%;
  padding: 1px;
  background-color: var(--hero);
}

.left-item .logo h3 {
  font-size: 1.5rem;
}

.left-item .logo p {
  font-size: 0.8rem;
  padding-top: 5px;
}

.left-item .logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  color: var(--fontcolor1);
}



.left-item h6 {
  margin-top: 30px;
  font-size: 1rem;
  font-weight: lighter;
  color: var(--fontcolor1);

}

.left-item .social svg {
  margin-top: 20px;
  fill: var(--fontcolor1);
}

.left-item svg {
  display: flex;
}

.middle-item {
  color: var(--fontcolor1);
  display: flex;
  flex-direction: column;
}

.middle-item-link {
  margin: 5px;
}

.middle-item a {
  box-sizing: content-box;
  text-decoration: none;
  color: var(--fontcolor1);
  padding: 2px;
  margin: 3px;
  position: relative;
}


.middle-item a::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 0%;
  height: 1px;
  background-color: var(--fontcolor1);
  bottom: -2px;
  transition: all 0.8s ease;
}

.middle-item a:hover::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--fontcolor1);
  bottom: -2px;
  transition: all 0.8s ease;
}


.right-item {
  color: var(--fontcolor1);
}

.right-item li {
  padding: 5px;
}

.right-item a {
  text-decoration: none;
  color: var(--fontcolor1);
  
}

/* CAROUSEL */

.carousel-container {
  height: 500px;    /* 420px */
  width: 100%;
  overflow: hidden;
  position: relative;
  
}

.car-box {
  display: flex;
  height: 100%;
  width: 300vw;
  transition: all 0.5s ease;
  transform: translateX(-200vw);
}

.car-img {
  position: relative;
  width: 100vw;
  object-fit: cover;
}

.car-1 {
  background: url(assets/img/allergia-pollen.webp) no-repeat center/cover;
  width: 100%;
  height: 100%;
}

.car-2 {
  background: url(assets/img/banner.webp) no-repeat center/cover;
  width: 100%;
  height: 100%;
}

.car-3 {
  background: url(assets/img/doctor.webp) no-repeat top/cover;
  width: 100%;
  height: 100%;
}

.car-text {
  padding: 35px;
  background-color: var(--months);
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 27%, 400px;
}

.text1 {
  position: absolute;
  top: 27%;
  right: 10%;
}

.text2 {
  position: absolute;
  top: 20%;
  right: 10%;
  
}

.text3 {
  position: absolute;
  top: 25%;
  right: 15%;
}




.btn-container {
  position: absolute;
  bottom: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
 
}

.btn-place {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.btn {
  padding: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(224, 239, 196, 0.866);
  border-radius: 50%;
  border: none;
}



/* MEDIA QUERIS */

@media (max-width: 992px) {
  .information {
    display: none;
  }

  header {
    margin-top: 15px;
    background-color: var(--bg-main);
    position: sticky;
    top: 0px;
    padding-bottom: 20px;
    
  }

  .hamburger {
    display: flex;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--hero);
    justify-content: center;
    align-items: center;
    gap: 7px;
    cursor: pointer;
   
  }

  .logo {
    margin-left: 5px;
    margin-top: 1px;
  }
  .active {
    display: flex;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    z-index: 9999999;

  }
 .menu-bar {
    display: none;
  
  }

  .riport {
    display: none;
  }
  

  .middle-item {
    display: none;
  }

  .hero-container {
    width: 100%;
    height: 500px;
    background: url(assets/img/banner.jpg) no-repeat center/cover;
    margin-top: 10px;
    display: flex;

  }

  .footer-container {
    height: 250px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


@media (max-width: 576px) {

  .left-item h6, .social {
    display: none;
  }

  .footer-container{
    display: flex;
    flex-direction: column;
  }

  .right-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .riport {
    display: none;
  }

  .menu-bar-active{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
    gap: 5px;
    margin-block: 40px 30px;
  
  }

  .car-1 {
    background: url(assets/img/allergia-pollen-m.webp) no-repeat center/cover;
    width: 100%;
    height: 100%;
  }
  
  .car-2 {
    background: url(assets/img/banner-m.webp) no-repeat left/cover;
    width: 100%;
    height: 100%;
  }
  
  .car-3 {
    background: url(assets/img/doctor-m.webp) no-repeat top/cover;
    width: 100%;
    height: 100%;
  }

  .car-text {
    padding: 15px;
    background-color: var(--months);
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .text1 {
    width: 60%;
    position: absolute;
    top: 55%;
    right: 8%;
  }
  
  .text2 {
    width: 50%;
    position: absolute;
    top: 50%;
    right: 10%;
    
  }
  
  .text3 {
    width: 55%;
    position: absolute;
    top: 25%;
    right: 8%;
  }

}